<mat-list>
    <div mat-subheader>
        Generation tasks
        <span class="spacer"></span>
        <button mat-icon-button (click)="updateTaskList()">
            <mat-icon class="example-icon">refresh</mat-icon>
        </button>
    </div>
    <mat-list-item *ngFor="let task of taskList">
        <mat-icon matListIcon>folder</mat-icon>
        
        <div mat-line>{{task.id}}</div>
        <div mat-line> {{task.creationDate | date}} </div>

        <mat-progress-bar mode="determinate" value="{{task.progress}}"></mat-progress-bar>
        <div class="distancer"></div>
        
        <button mat-icon-button (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelTask(task.id)">
            <mat-icon>cancel</mat-icon>
        </button>
        <button mat-icon-button (click)="downloadResult(task.id)">
            <mat-icon>get_app</mat-icon>
        </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <!--<div mat-subheader>Timer tasks</div>
    <mat-list-item *ngFor="let task of taskList">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{note.name}}</div>
        <div mat-line> {{note.updated | date}} </div>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

        <mat-action-list>
        <button mat-list-item> Save </button>
        <button mat-list-item> Undo </button>
        </mat-action-list>
    </mat-list-item>    -->
</mat-list>