<mat-list>
    <div mat-subheader>
        Generation tasks
        <span class="spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu">
          Add task...
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openProjectgenerationTaskCreationDialog()">Generate a project</button>
          <button mat-menu-item (click)="openTimerTaskCreationDialog()">Schedule a timer</button>
        </mat-menu>

        <button mat-button (click)="updateTaskList()">
            Refresh all
            <mat-icon class="example-icon">refresh</mat-icon>
        </button>
    </div>
    <ng-container *ngFor="let t of filterOnTaskType('projectgeneration')">
        <ng-container *ngTemplateOutlet="task; context:{task: t}"></ng-container>
    </ng-container>

    <mat-divider></mat-divider>

    <div mat-subheader>Timer tasks</div>
    <ng-container *ngFor="let t of filterOnTaskType('timer')">
        <ng-container *ngTemplateOutlet="task; context:{task: t}"></ng-container>
    </ng-container>
</mat-list>

<ng-template #task let-task="task">
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>

        <div mat-line>{{task.name}}</div>
        <div mat-line> {{ task.id }} | {{task.creationDate | date}} </div>

        <mat-progress-bar mode="determinate" value="{{task.progress}}"></mat-progress-bar>
        <div class="distancer"></div>

        <button mat-icon-button (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button
            *ngIf="task.state == 'READY'"
            (click)="startTask(task.id)">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button
            *ngIf="task.state == 'QUEUED' || task.state == 'RUNNING'"
            (click)="cancelTask(task.id)">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-list-item>
</ng-template>
