<mat-toolbar>
  <span>Crossing the chasm</span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    Add task...
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openProjectgenerationTaskCreationDialog()">Generate a project</button>
    <button mat-menu-item (click)="openTimerTaskCreationDialog()">Schedule a timer</button>
  </mat-menu>

  <button mat-button (click)="updateTaskList()">
    Refresh all
    <mat-icon class="example-icon">refresh</mat-icon>
  </button>
</mat-toolbar>
<app-task-list></app-task-list>
