<mat-toolbar>
  <span>Crossing the chasm</span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon>
    Add task...
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openProjectgenerationTaskCreationDialog()">Generate a project</button>
    <button mat-menu-item (click)="openTimerTaskCreationDialog()">Schedule a timer</button>
    <button mat-menu-item
            (click)="resumeTaskCreationDialog()"
            [disabled]="!canResumeTaskCreation">
      Resume task creation
    </button>
    </mat-menu>

  <mat-slide-toggle (change)="onSlideToggleChange($event)">
    Auto-refresh
  </mat-slide-toggle>
  <button mat-button (click)="updateTaskList()" [disabled]="autorefreshEnabled">
    <mat-icon class="example-icon">
      refresh
    </mat-icon>
    Refresh all
  </button>
</mat-toolbar>
<app-task-list></app-task-list>
